
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      scroll-behavior: smooth;
      border: none;
      outline: none;
      font-family: 'Poppins',sans-serif;
  }

.logo img {
      
      font-size: 100px;
      
    }
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0cf;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;    
}
body {
     background: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;

    }
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo img {
    width: 5vw;
    border-radius: 50%;
}
.logo img{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: -3s ;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);

}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
      width: 35vw;
      transition: .100s;
      border-radius: 50%;
      animation: floatImage 3s ease-in-out infinite;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-img img:hover{
    background-image: url(code.gif);
    color: var(--second-bg-color);
    box-shadow:0 0 0.5rem var(--main-color) ;
    border-radius: 50rem;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span {
    color: var(--main-color);
}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p {
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    fill-opacity: calc(70%);
}


.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
}
.btn:hover {
    box-shadow: none;
}
.read-more-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
}
.read-more-btn:hover {
    box-shadow: none;
}

.about{
   display: flex; 
   justify-content: center;
   align-items: center;
   gap: 2rem;
   background: var(--second-bg-color);  
}
.about-img img {
    width: 30vw;
    border-radius: 30%;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;    
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}   
.text {
    font-size: 24px;
  }
  .moreText {
    display: none;
    color: var(--text-color);
  }
  
  .text.show-more .moreText {
    display: inline;
  }
  .text.show-more .dots {
    display: none;
  }
  

  
  * {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  .float-text {
    display: inline-block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: fit-content;
    background-color: #192227;
    color: whitesmoke;
    font-family: "Montserrat";
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
    cursor: pointer;
    border: 1px solid white;
  }
  .float-card-info {
    width: 300px;
    position: fixed;
    background-color: #263238;
    border: 2px solid white;
    overflow: hidden;
    bottom: 5px;
    right: -100%;
    padding: 30px;
    border-radius: 8px;
    transition: 0.5s ease-in-out right;
  }
  .float-card-info p {
    color: white;
    font-size: 20px;
    font-family: "Montserrat";
    text-transform: capitalize;
    width: 100%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
  .gg-youtube {
    --ggs: 1.5;
  }
  .float-card-info .icons {
    width: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .float-card-info .icons a {
    display: inline-block;
    cursor: pointer;
    color: whitesmoke;
  }
  .float-card-info .icons a:hover {
    color: rgb(127, 127, 129);
  }
  .float-card-info .link {
    width: 100%;
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Montserrat";
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }
  .gg-close-r {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .float-card-info.active {
    right: 5px;
    bottom: 5px;
  }
  
  .float-card-info .hire {
    background-color: #181e22;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 18px;
    border-radius: 6px;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 20px;
  }
  


.services h2 {
    margin-bottom: 5rem;
}
.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);

}
.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.skills_section{
    
    width: 100%;
    padding: 3rem 19%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
 
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: var(--main-color);
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--main-color);
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .SQL{
    width: 80%;
    animation: sass 2s;
}
@keyframes sass {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 80%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .react{
    width: 75%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .php{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .python{
    width: 65%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .Java{
    width: 60%;
    animation: mongo 2s;
}

@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}

.portfolio {
   background: #1f242d;   
}
.portfolio h2 {
    margin-bottom: 4rem;
}
.portfolio-container  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img {
    width: 100%;
    transition: .5s ease ;
}
.portfolio-box:hover img {
    transform: scale(1.1);
}
.portfolio-box  .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover  .portfolio-layer {
    transform: translateY(0);
}
.portfolio-layer h4 {
    font-size: 3rem;
}
.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
} 

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bg-color);
  }
  .testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
  }
  .testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
  }
  .testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
  }
  .slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
  }
  .slide .quote-icon {
    font-size: 30px;
    color: var(--text-color);
  }
  .slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }
  .details .job {
    font-size: 12px;
    font-weight: 400;
    color: #333;
  }
  /* swiper button css */
  .nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }
  .nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav-btn::after,
  .nav-btn::before {
    font-size: 20px;
    color: #fff;
  }
  .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .swiper-pagination-bullet-active {
    background-color: var(--second-bg-color);
  }
  @media screen and (max-width: 768px) {
    .slide p {
      padding: 0 20px;
    }
    .nav-btn {
      display: none;
    }
  }
select {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    
}
.contact h2 {
    margin-bottom: 3rem;
} 
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0 ;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
} 
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color)
}


/* BREAKPOINTS */

  @media (max-width: 1200px) {
      html {
          font-size: 55%;
      }
  }



  @media (max-width: 991px) {
     .header {
         padding: 2rem 3%;
     }

     section {
         padding: 10rem 3% 2rem;
        }

    .portfolio {
        padding-bottom: 7rem;
    }
    .contact {
        padding-bottom: 7rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    
        .footer {
            padding: 2rem 3%;
        }
}


@media (max-width:768px) {
    #menu-icon {
        display: block;
    }
   
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding:  1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow:  0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
   .navbar.active {
       display: block;
   }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
     .home {
         flex-direction: column;
     }
     .home-content h3 {
         font-size: 2.6rem;
     }

     .home-content h1 {
         font-size: 5rem;
     }

     .home-img img {
         width: 70vh;
         
     }
     .about {
         flex-direction: column-reverse;
     }

     .about-img {
         width: 100vw;
         margin-top: 4rem;
     }

     .services h2 {
         margin-bottom: 3rem;
     }

     .portfolio h2 {
         margin-bottom: 2rem;
     }
    

      .portfolio-container {
          grid-template-columns: repeat(2, 1fr);
      }
    }


    @media (max-width: 617px) {
        .portfolio-container{
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 450px) {
        html {
            font-size: 50%;
        }

        .contact form .input-box input {
            width: 100%;
        }
    }
@media (max-width: 365px){
    .header {
        width: 355px;
    }
    .logo{
        width: 30px;
        font-size: 1rem;
    }
    .home-content p{
        font-size: 9px;
    }
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer p {
        text-align: left;
        margin-top: 2rem;
    }
    iframe{
        width:350px;
    }
}
